
    body{
        background-image: url(https://static.wixstatic.com/media/801e35_90d71f90fec84abb8b0d07ba0699ecfc~mv2_d_5400_3600_s_4_2.png/v1/fill/w_2500,h_1666,al_c/801e35_90d71f90fec84abb8b0d07ba0699ecfc~mv2_d_5400_3600_s_4_2.png);
        background-attachment: fixed;
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
@font-face {
    font-family: "mifuente";
    src: url(./img/SuperMario256.ttf);
}

.imgGif2{
    
    height: 100%;
    width: 100%;
}
.imgGif{
    height: 100%;
    width: 100%;
}
.titulo{
    font-family: "mifuente";
    color: rgb(255, 1, 221);
    
    border-radius: 200px;

   display: flex;
   justify-content: center;
   
   padding-top: 150px;
   margin-right: 50px;
   
}
#BotonRest{
    background-image: url('./img/button1.png');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  #BotonRest:hover {
    transform: scale(1.1);
  }

main{
    
    padding-left: 20%;
    padding-right: 15%;
}

#a1{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: violet;
    background-color: rgba(0, 0, 0, 0.337);
   
    height: 60px;
    width: 60px;
}
#a2{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a3{

    color: violet;
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a4{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a5{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a6{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a7{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a8{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a9{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
table{
    font-family: "mifuente";
    color: rgb(255, 0, 187);
    background-color: rgba(0, 0, 0, 0.447);
    border-radius: 2px;
}
#colorH5{
    font-family: "mifuente";
    color: rgb(255, 1, 221);
}

