
    body{
        background-image: url(https://wallpapers.com/images/hd/mega-man-different-art-styles-ji5dst23s7jndj8t.jpg);
        background-attachment: fixed;
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
@font-face {
    font-family: "mifuente";
    src: url(./img/SuperMario256.ttf);
}
/* video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    } */
.imgGif2{
    
    height: 100%;
    width: 100%;
}
.imgGif{
    height: 100%;
    width: 100%;
}
.titulo{
    
    font-family: "mifuente";
    color: rgb(255, 1, 221);  
    background-color: transparent; 
}
#Multijugador{
    background-image: url('./img/zero.jpg');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 50px;
    border: none;
    color: #0bfbff;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  #Multijugador:hover{
    transform: scale(1.1);
  }
#BotonRest{
    background-image: url('./img/pbutton.jpg');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 50px;
    border: none;
    color: #00d9ff;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  #BotonRest:hover {
    transform: scale(1.1);
  }
  #audio{
    padding-right: 95px;
color:transparent;
  }

main{
    
    padding-left: 20%;
   
}

#a1{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: violet;
    background-color: rgba(0, 0, 0, 0.708);
   
    height: 60px;
    width: 60px;
}
#a2{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.708);
}
#a3{

    color: violet;
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.708);
}
#a4{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.708);
}
#a5{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.708);
}
#a6{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.708);
}
#a7{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.708);
}
#a8{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.708);
}
#a9{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.708);
}
table{
    font-family: "mifuente";
    font-size: 20px;
    color: rgb(255, 0, 187);
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 2px;
}
#colorH5{
    font-family: "mifuente";
    color: rgb(255, 1, 221);
}