/* video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    } */
    body{
        background-image: url(https://wallpapercave.com/wp/wp2794505.jpg);
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
@font-face {
    font-family: "mifuente";
    src: url(./img/SuperMario256.ttf);
}

.imgGif2{
    
    height: 100%;
    width: 100%;
}
.imgGif{
    height: 100%;
    width: 100%;
}
.titulo{
    font-family: "mifuente";
    color: rgb(255, 1, 221);
    
    border-radius: 200px;

   display: flex;
   justify-content: center;
   
   padding-top: 150px;
   margin-right: 50px;
   
}


main{
    
    padding-left: 20%;
    padding-right: 15%;
}

#a1{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: violet;
    background-color: rgba(0, 0, 0, 0.337);
   
    height: 60px;
    width: 60px;
}
#a2{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a3{

    color: violet;
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a4{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a5{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a6{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a7{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a8{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
#a9{

    color: violet;
   
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.337);
}
table{
    font-family: "mifuente";
    color: rgb(255, 0, 187);
    background-color: rgba(0, 0, 0, 0.447);
    border-radius: 2px;
}


